body{
    background-color: rgb(48, 63, 48);
    /*background-image: url("./HQ-NASA-PIC.jpg");*/
    background-size: cover;
}
.self-img {
    display: block;
    width: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 0px darkslategray;
    border-radius: 250px;
    background-color: rgb(55, 66, 36);
    /*background-image: url("./Hex-Background.jpg");*/
}
.buttons{
    display: space-between;
    justify-content: center;
    text-decoration: none;
}
.btn{
    text-decoration: none;
    width: 200px;
    /*background-image:url("./Hex\ 2.jpg");*/
    background-color: rgb(190, 173, 13);
    background-size: cover;
    color: white;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bolder;
    font-size: large;
}